@import 'umixins';

body {
	// overflow-y: hidden;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-body {
	.label {
		white-space: pre-line;
		cursor: pointer;
		margin: 0px 1px;
	}
}


.book {
	&.ng-enter {
		@include transition(all, 0.7s);
		opacity: 0;
	}

	&.ng-leave {
		@include transition(all, 0.7s);
		opacity: 1;
	}

	&.ng-enter-stagger {
		@include transition(null, null, null, .3s);
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave-active {
		opacity: 0;
	}

}
