@import 'umixins';

body {
	// overflow-y: hidden;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-body {
	.label {
		white-space: pre-line;
		cursor: pointer;
		margin: 0px 1px;
	}
}

.book {
	&.ng-enter {
		@include transition(all, 0.7s);
		opacity: 0;
	}

	&.ng-leave {
		@include transition(all, 0.7s);
		opacity: 1;
	}

	&.ng-enter-stagger {
		@include transition(null, null, null, .3s);
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-leave-active {
		opacity: 0;
	}

	img {
		max-height: 35%;
	}

}

.book-editing {
	.image {
		cursor: pointer;
		@include cross-browser-properties(filter, #{'grayscale(100%)'});
		&:hover {
			@include cross-browser-properties(filter, #{'grayscale(50%)'});
			border: 1px solid black;
		}
		&.selected {
			@include cross-browser-properties(filter, #{'grayscale(0%)'});
			border: 1px solid darken(red, 10%);
		}
	}
}

.text-editor {
	overflow-y: auto;
	overflow-wrap: break-word;
	
	$content: "\A";
	@for $i from 1 through 10 {
		.break-#{$i} {
			padding-left: 0px;
			&:before {
				content: $content;
				white-space: pre;
			} 
		}
		$content: $content + "\A";
	}
}