<div class="col-md-12 col-xs-12">

	<div class="page-header">		
		<h1>Books <small class="glyphicon glyphicon-book"></small></h1>
	</div>

	<div class="row">
		<div class="col-xs-8">
			<div class="pull-right">
				<button class="btn btn-success" ng-click="addBook()">
					<span class="glyphicon glyphicon-plus"></span> Add book
				</button>
			</div>
		</div>
		
		<div class="col-xs-4">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" class="form-control" ng-model="search" placeholder="filter a book"/>
			</div>
		</div>
	</div>
	
	<br/>
	
	
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
			ng-class="{ 'book': book.editmode == false, 'book-editing': book.editmode }"
			ng-repeat="book in storage.books | filter:search">
			<div class="thumbnail" ng-hide="book.editmode">
				<img ng-src="{{book.image}}" alt="{{book.name}}" class="img-rounded" />
				<div class="caption">
					<h3>{{book.name}}<br/><small>{{book.author}}</small></h3>
					<details>
						<summary>
							<small>Description</small>
						</summary>
						<small>{{book.description}}</small>
					</details>
					<hr/>
					<div class="btn-group btn-group-md btn-group-xs">

						<a role="button" class="btn btn-primary" href="#/listen-book/{{book.id}}">
							<span class="glyphicon glyphicon-headphones"></span> Listen
						</a>

						<button class="btn btn-warning" ng-click="book.editmode = true">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>

						<button class="btn btn-danger" ng-click="deleteBook(book.id)">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>

					</div>
				</div>
			</div>
			
			<div class="thumbnail editmode" ng-hide="!book.editmode">
				
				<div class="row">
					<div ng-repeat="image in book.possibleImages" class="col-sm-6">
						<div class="thumbnail image"
							ng-click="book.image = image.url; $parent.selectedImageIndex = $index"
							ng-class="{ 'selected' : ($parent.selectedImageIndex == $index || image.url == book.image)}">
							<img ng-src="{{image.url}}" title="{{image.title}}"/>
						</div>
					</div>
				</div>
				
				<br/>

				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-header"></span>
					</span>
					<input type="text" class="form-control" ng-model="book.name" placeholder="Book name" ng-change="getImages(book)"/>
				</div>

				<br/>
				
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" class="form-control" ng-model="book.author" placeholder="Book author" ng-change="getImages(book)"/>
				</div>
				
				<br/>
				
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-comment"></span>
					</span>
					<textarea class="form-control" rows="3" ng-model="book.description" placeholder="Book description"></textarea>
				</div>

				<br/>

				<div class="input-group">
					<input type="file" style="display: none" id="file-{{book.id}}" onchange="angular.element(this).scope().changeFile()"/>
					<input type="text" class="form-control" ng-model="book.file"/>
					<span class="input-group-btn">
						<button class="btn btn-info" ng-click="openFile(book)">
							<span class="glyphicon glyphicon-file"></span> Select file
						</button>
					</span>
				</div>

				<hr/>

				<button class="btn btn-success" ng-click="book.editmode = false">
					<span class="glyphicon glyphicon-save"></span> Save data
				</button>

				<button class="btn btn-warning" ng-click="deleteBook(book.id)">
					<span class="glyphicon glyphicon-remove-circle"></span> Cancel
				</button>
			</div>

		</div>

	</div>
</div>