.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.panel-body .label {
  white-space: pre-line;
  cursor: pointer;
  margin: 0px 1px; }

.book.ng-enter {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  transition-duration: 0.7s;
  opacity: 0; }
.book.ng-leave {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  transition-duration: 0.7s;
  opacity: 1; }
.book.ng-enter-stagger {
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s; }
.book.ng-enter-active {
  opacity: 1; }
.book.ng-leave-active {
  opacity: 0; }
.book img {
  max-height: 35%; }

.book-editing .image {
  cursor: pointer;
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }
  .book-editing .image:hover {
    -moz-filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%);
    border: 1px solid black; }
  .book-editing .image.selected {
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 1px solid #cc0000; }
